.header {
  width: 100%;
  height: 70px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  user-select: none;
}

.content {
  padding: 0 18px;
  width: 100%;
}

.nav {
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoContent p {
  color: var(--white);
  font-weight: 200;
  font-size: 1.1rem;
}

.logo {
  max-width: 45px;
  object-fit: contain;
  width: auto;
  height: auto;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: var(--white);
  font-size: 1rem;
  font-weight: 300;
}

.navOptions {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.navButtons {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.createButton, .logoutButton {
  background: var(--light-blue);
  color: var(--white);
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  font-family: "Inter";
  transition: all 0.2s;
}

.logoutButton {
  background: #A43D3D;
}

.createButton:hover, .logoutButton:hover {
  filter: brightness(110%);
}

.loginButton {
  background: transparent;
  color: var(--light-blue);
  padding: 8px 15px;
  border: 1px solid var(--light-blue);
  border-radius: 4px;
  font-family: "Inter";
  transition: all ease-in-out 0.4s;
}

.loginButton:hover {
  background: var(--light-blue);
  color: var(--white);
}

@media screen and (min-width: 1024px) {
  .nav {
    padding: 0 60px;
  }

  .navOptions {
    gap: 50px;
  }

  .navLinks {
    margin-right: 20px;
    gap: 90px;
  }
}

@media screen and (max-width: 800px) {
  .loginButton,
  .createButton,
  .logoContent p {
    display: none;
  }

  .nav {
    padding: 0;
  }

  .navLinks {
    gap: 5px;
  }
}
